@page
@model IndexModel
@using System.Net.Http.Headers;
@{
    ViewData["Title"] = "Home page";
//Token
string token =
    "EAAR4o0ZAXAagBO1Mev0n09wRo2QfyZBoBKwAynTjg5GM4icSZAN1h0URxcKr1ZBrL1Pwtl42lZAlHVQVZAnAPE2Vzkg22qtI6NpKybHJhzokue7HPwkYIZAxsDUzjR7tsaOmZACP6hHtpiyM8M97sZCyS6s2ZCO0Sv9hK1EUHZClcbl9rn5Yrm6k9aVrQLZC9UkxbkCovHosst9yGhTGh57VUhR1PZBZBLeNIZD";
//Identificador de número de teléfono
    string idTelefono = "468530896338096";
//Nuestro telefono
    string telefono = "526441765393";
HttpClient client = new HttpClient();
HttpRequestMessage request = new HttpRequestMessage(HttpMethod.Post,
"https://graph.facebook.com/v15.0/" + idTelefono + "/messages");
request.Headers.Add("Authorization", "Bearer " + token);
request.Content = new StringContent("{ \"messaging_product\": \"whatsapp\", \"to\": \"" +
telefono + "\", \"type\": \"template\", \"template\": { \"name\": \"hello_world\", \"language\": {\"code\": \"en_US\" } } }");
request.Content.Headers.ContentType = new MediaTypeHeaderValue("application/json");
HttpResponseMessage response = await client.SendAsync(request);
//response.EnsureSuccessStatusCode();
string responseBody = await response.Content.ReadAsStringAsync();
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
